# Ignore virtual environment directory
myenv/

# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore other common unnecessary files
.DS_Store
*.log
*.sqlite3
.env

# Ignore system files
.vscode/
*.swp
.idea/
